<%= form_for album do |f| %>

  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    <% end %>

  <%= f.text_field :title %> Title <br/>
  <%= f.text_field :year %> Year <br/>
  <%= f.collection_select(:artists, Artist.all, :uid, :name, prompt: ' ') %>
  <%= f.submit "Create" %>
<% end %>
