<ul>
	<li>
		<%=link_to 'Home', root_path %>
	</li>
	<li>
		<%=link_to 'Dashboard', dashboard_path %>
	</li>
	<li>
		<%=link_to 'Add artist', new_artist_path %>
	</li>
	<li>
		<%=link_to 'Add album', new_album_path %>
	</li>
	<li>
		<%=link_to 'Add lyric', new_lyric_path %>
	</li>
</ul>

<h3>
	Admin space
</h3>
