<ul>
	<li>
		<%=link_to 'Home', root_path %>
	</li>
	<li>
		<%=link_to 'Dashboard', dashboard_path %>
	</li>
	<li>
		<%=link_to 'Add artist', new_dashboard_artist_path %>
	</li>
	<li>
		<%=link_to 'Add album', new_dashboard_album_path %>
	</li>
	<li>
		<%=link_to 'Add lyric', new_dashboard_lyric_path %>
	</li>
</ul>

<h3>
	Admin space
</h3>
