<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'dashboard', media: 'all'%>
    <%= javascript_include_tag 'dashboard'%>
  </head>

  <body>
  	<%= render 'dashboard/shared/header'%>
    <%= yield %>
  </body>
</html>
